<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Annie Min">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Annie Min professional website">
    <title>Annie Min</title>
</head>
<body style="font-family: Arial">
    <header>
        <h1>Annie Min</h1>

        <nav>
            <a href="file:///C:/Users/annie/Desktop/git/webdevlabs/anniemin-lab1/index.html" target="_self">Home</a>
            <a href="file:///C:/Users/annie/Desktop/git/webdevlabs/anniemin-lab1/views/cv.html" target="_self">CV</a>
            <a href="file:///C:/Users/annie/Desktop/git/webdevlabs/anniemin-lab1/views/contact.html" target="_self">Contact me</a>
            <a href="file:///C:/Users/annie/Desktop/git/webdevlabs/anniemin-lab1/views/fun.html" target="_self">For fun</a>
        </nav>
    </header>

    <div>
        <main>
            <h2>Things I love to do for fun</h2>
            <ul>
                <li>Hang out with friends</li>
                <li>Listen to music</li>
                <li>Buying smiskis</li>
            </ul>
        </main>
    </div>

    <footer>
        Copyright©[2025][Annie Min]
    </footer>
</body>
</html>