<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <script defer src="../static/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Annie Min">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Annie Min professional website">

    <title>
        Annie Min
    </title>
</head>

<body class="roboto-lab2" onload="addYear()">
    <header>
        <h1 id="backgroundColor">
            Annie Min
        </h1>

        <nav>
            <a class="navTitle" href="../index.html" target="_self">Home</a>
            <a class="navTitle" href="cv.html" target="_self">CV</a>
            <a class="navTitle" href="contact.html" target="_self">Contact me</a>
            <a class="navTitle" href="fun.html" target="_self">For fun</a>
        </nav>
    </header>

    <div class="main">
            <h2 class="roboto-lab2Bold">Things I love to do for fun</h2>
            <button id="seeMoreButton" onclick="showList()">Click to see...</button>
            <ul id="favList">
                <li>Hang out with friends</li>
                <li>Listen to music</li>
                <li>Buying smiskis</li>
            </ul>
    </div>

    <footer>
        <p id="copyYear"></p>
    </footer>
</body>
</html>