<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Annie Min">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Annie Min professional website">
    <title>Annie Min</title>
</head>
<body style="font-family: Arial">
    <header>
        <h1>Annie Min</h1>

        <nav>
            <a href="../anniemin-lab1/index.html" target="_self">Home</a>
            <a href="/anniemin-lab1/views/cv.html" target="_self">CV</a>
            <a href="/anniemin-lab1/views/contact.html" target="_self">Contact me</a>
            <a href="/anniemin-lab1/views/fun.html" target="_self">For fun</a>
        </nav>
    </header>

    <div>
        <main>
            <h2>Contact Me</h2>

            <form target="_self">
                <label for="fname">First name:</label><br>
                <input type="text" id="fname" name="fname"><br>
                <label for="lname">Last name:</label><br>
                <input type="text" id="lname" name="lname"><br><br>
                <label for="comment">Comment:</label><br>
                <input type="text" id="comment" name="comment"><br><br>
                <input type="submit" value="SEND">
            </form>

            <table>
                <tr>
                    <th>Contact Method Description</th>
                </tr>
                <tr>
                    <td>Email: anniemin@andrew.cmu.edu</td>
                </tr>
                <tr>
                    <td>Phone: (213)-364-3642</td>
                </tr>
                <tr>
                    <td><a href="" target="_blank">LinkedIn</a></td>
                </tr>
            </table>
        </main>
    </div>

    <footer>
        Copyright©[2025][Annie Min]
    </footer>
</body>
</html>