<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Annie Min">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Annie Min professional website">

    <title>Annie Min</title>
</head>
<body>
    <header>
        <h1 id="backgroundColor">
            Annie Min
        </h1>

        <nav>
            <a class="navTitle" href="../index.html" target="_self">Home</a>
            <a class="navTitle" href="cv.html" target="_self">CV</a>
            <a class="navTitle" href="contact.html" target="_self">Contact me</a>
            <a class="navTitle" href="fun.html" target="_self">For fun</a>
        </nav>
    </header>

    <div>
        <main>
            <h2>Contact Me</h2>

            <form target="_self">
                <label for="fname">First name:</label><br>
                <input type="text" id="fname" name="fname"><br>
                <label for="lname">Last name:</label><br>
                <input type="text" id="lname" name="lname"><br><br>
                <label for="comment">Comment:</label><br>
                <input type="text" id="comment" name="comment"><br><br>
                <input type="submit" value="SEND">
            </form>

            <table>
                <tr>
                    <th>Contact Method Description</th>
                </tr>
                <tr>
                    <td>Email: anniemin@andrew.cmu.edu</td>
                </tr>
                <tr>
                    <td>Phone: (213)-364-3642</td>
                </tr>
                <tr>
                    <td><a href="" target="_blank">LinkedIn</a></td>
                </tr>
            </table>
        </main>
    </div>

    <footer>
        Copyright©[2025][Annie Min]
    </footer>
</body>
</html>